# $JDTAUS$

[Unit]
Description=Abagnale Algorithmic Trading
Requires=postgresql.service
After=postgresql.service

[Service]
ExecStart=/usr/bin/abagnale
Restart=always
RestartSec=300
User=abagnale
Group=abagnale
Environment=PATH=/usr/bin:/usr/local/bin
Environment=LC_CTYPE=C.UTF-8
#Environment=ABAG_CONFIG_FILE=/etc/abagnale/abagnale.conf
#Environment=ABAG_DATABASE_TARGET=ABAGNALE
#Environment=ABAG_DATABASE_USER=abagnale
#Environment=ABAG_HTTP_TIMEOUT_MILLIS=60000
#Environment=ABAG_ORDER_WORKERS=1
#Environment=ABAG_TICKER_WORKERS=12
#Environment=ABAG_TRADE_WORKERS=6
#Environment=CDP_REST_URI=https://api.coinbase.com
#Environment=CDP_WS_URI=wss://advanced-trade-ws.coinbase.com
#Environment=CDP_ACCOUNT_PATH=/api/v3/brokerage/accounts/
#Environment=CDP_ACCOUNTS_PATH=/api/v3/brokerage/accounts
#Environment=CDP_FEES_PATH=/api/v3/brokerage/transaction_summary
#Environemnt=CDP_ORDER_PATH=/api/v3/brokerage/orders/historical/
#Environemnt=CDP_ORDER_CANCEL_PATH=/api/v3/brokerage/orders/batch_cancel
#Environemnt=CDP_ORDER_CREATE_PATH=/api/v3/brokerage/orders
#Environment=CDP_PRODUCTS_PATH=/api/v3/brokerage/products
#Environment=CDP_HTTP_REQUESTS_PER_SECOND=30
#Environment=CDP_HTTP_RETRY_SECONDS=3
#Environment=CDP_HTTP_STALL_MILLIS=3600000
WorkingDirectory=/tmp
KillMode=process
TimeoutSec=600
OOMPolicy=continue
OOMScoreAdjust=-1000
LimitCORE=infinity
[Install]
WantedBy=multi-user.target
